<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form method="post" target="/login">
            <div class="col-6 offset-2">
                 <div class="row-3">
                 <label>email in lowercase:</label>
                 <input type="text">
                 </div>
                 <div class="row-3">
                 <label>password:</label>
                 <input type="password">
                 </div>
            </div>
        <button class="btn btn-indigo">login</button>
    </form>
</body>
</html>